.container{
    
    display: flex;
    position: relative;
}
#left-box{
    border: solid 3px grey;
}

#map{
    height: 400px;
    width: 400px;
}

.leaflet-control-zoom-in{
    visibility: hidden;
}
#county-map{
    height: 400px;

}